.app {
  background-color: #141d2bf7;
  height: 100vh;
  color: white;
}

.header-wrap {
  background: linear-gradient(90deg, #1f2d42, #2d4261);
  height: 70px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 25px;
}

.footer-wrap {
  background-color: #273344;
  height: 60px;
}

.cardlist {
  width: 80%;
  border: 1px solid #212e3e !important;
  border-radius: 10px;
  background-color: #111a28 !important;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  overflow: scroll;
}

.cardlist::-webkit-scrollbar {
  width: 0;
}

.cardlist {
  scrollbar-width: none;
}

.body-wrap {
  height: calc(100% - 130px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-image: url('https://media.istockphoto.com/id/1448813542/photo/artificial-intelligence-neural-network-concept.jpg?s=612x612&w=0&k=20&c=cmEWxBQ0ykbCw_jqzN5--pjKt2rkcm7ozBzyxjm8jfE=');
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70%;
}

.list-element {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #212c3e;
  margin-top: 10px;
}

.list-element:hover {
  background-color: #1a2332;
}

.checkbox-label {
  margin-left: 10px;
  overflow-wrap: break-word;
  width: 94%;
  overflow: hidden;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label-line-through {
  margin-left: 10px;
  text-decoration: line-through;
  width: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
}


body {
  background-color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 70px;
  margin-left: 10px;
}

.circle {
  border-radius: 50%;
  animation: colorfull-spin 2s alternate infinite;
  position: absolute;
}

.circle:nth-child(1) {
  animation-delay: 0.1s;
  background: linear-gradient(45deg, #337aff, #572ff3, #e81f6c, #f1c726);
  background-size: 200%;
  width: 40px;
  height: 40px;
}

@keyframes colorfull-spin {
  0% {
    border-radius: 50%;
    transform: rotate(0);
    background-position: 0 50%;
  }

  20% {
    border-radius: 50%;
    transform: rotate(0);
  }

  50% {
    background-position: 100% 50%;
  }

  90% {
    border-radius: 5%;
    transform: rotate(90deg);
  }

  100% {
    border-radius: 5%;
    transform: rotate(90deg);
    background-position: 0 50%;
  }
}

.settings {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hash-modal-modal-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 1400;
}

.hash-modal-modal {
  border: 1px solid lightgray;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  width: 85%;
  background-color: #1a2332 !important;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.hash-modal-modal-header {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 15px;
}

.hash-modal-modal-body {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}

.hash-input {
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.hash-input-error {
  border: 2px solid red;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.hash-input-error::placeholder {
  color: red;
  font-weight: 400;
}


.hash-modal-modal-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: #9fef00 !important;
  font-size: 15px;
  font-weight: 600;
  color: #313d52 !important;
  cursor: pointer;
}

.close-icon {
  cursor: pointer;
}

.menu-wrap {
  border: 1px solid #212e3e !important;
  width: 30%;
  height: 205px;
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: #111a28 !important;
  border-radius: 5px;
  max-width: 200px;
  z-index: 999;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: #253144fc;
}

.modal-backdrop {
  opacity: .35;
  background-color: #7e859d;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.action-icon {
  margin-right: 15px;
  width: 22px;
  height: 22px;
  opacity: 0.6;
  cursor: pointer;
}

.delete-action {
  display: flex;
}

.action-icon:hover {
  background-color: #415675;
}

.list-item-loader {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }

  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }

  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }

  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}


html {
  background: #878476;
}

.container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked+div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  flex-wrap: wrap;
  margin-top: 15px;
  overflow: hidden;
}

.details-header-alert {
  display: flex;
}

.details-body {
  display: flex;
  margin: 10px;
  flex-direction: column;
  margin-bottom: 25px;
  margin-right: 25px;
}

.details-body>textarea {
  width: 100%;
  resize: none;
  margin-top: 10px;
  border-radius: 6px;
}

.sign-in-wrap {
  display: flex;
  width: 100%;
  height: 95%;
  /* border: 1px solid red; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-options {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  height: 30px;
  margin-top: 25px;
}

.sign-in-action-input {
  margin-left: 25px;
  width: 65%;
  max-width: 300px;
  border-radius: 5px;
}

.sign-in-actions {
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.validate-btn {
  font-size: 18px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
}

.validate-btn:hover{
  cursor: pointer;
}

.sign-in-option-label{
  width:70px
}

.access-log-canvas{
  border: 1px solid #d5bdbd78;
  border-radius: 10px;
  margin-top: 20px;
  min-height: 50px;
  max-height: 240px;
  overflow: scroll;
}

.access-log{
  border: 1px solid #eeeeee3b;
  margin: 10px;
  border-radius: 10px;
  padding: 3px 5px;
}

.access-log-canvas{
  scrollbar-width: none;
}

.access-log-canvas::-webkit-scrollbar {
    display: none;
}
